@import "./variables.scss";

.banner {
  &-container {
    display: flex;
    width: 100%;
    margin: 16px 0 16px 0;
  }

  &-img {
    width: 100%;
    height: 8.875rem;
    object-fit: cover;
    border: none;
    border-radius: 10px;
    justify-self: center;
  }
}
