@import "./variables.scss";

.category {
  &-main-container {
    display: flex;
  }

  &-single-container {
    width: auto;

    background-color: white;
    padding: 1rem;
    border-radius: 10px;
    margin-right: 10px;
    display: flex;
  }

  &-details-container {
    display: flex;
  }

  &-icon {
    height: 40px;
    width: auto;
    margin-right: 10px;
    margin-top: 6px;
  }

  &-text {
    font-size: 26px;
    font-weight: 300;
    margin: 6px 0 0 0;
  }
}
